[column]
ui = row,dense
[commit]
gpgSign = true
verbose = true
[core]
abbrev = 4
askpass = pinentry-askpass
# attributesfile = attributes
editor = editor
# excludesfile = ignore
pager = less -FR
quotepath = false
# whitespace = space-before-tab,trailing-space
[diff]
# autorefreshindex
dirstat = changes,noncumulative,3
# statgraphwidth
context = 1
# interhunkcontext
# external
ignoresubmodules = all
mnemonicprefix = true
# noprefix
# orderfile
# renamelimit
# renames
# suppressblankempty
submodule = short
# wordregex
# tool
# guitool
# indentheuristic
algorithm = myers
wserrorhighlight = all
colormoved = zebra
colormovedws = allow-indentation-change
# [diff "<driver>"]
# command
# xfuncname
# binary
# textconv
# wordregex
# cachetextconv
[merge]
ff = false
[pager]
branch = true
status = true
diff = true
[pull]
ff = only
