[column]
ui = row,dense
[commit]
verbose = true
[core]
abbrev = 4
askpass = pinentry-askpass
# attributesfile = attributes
editor = editor
# excludesfile = ignore
pager = less -FR
quotepath = false
# whitespace = space-before-tab,trailing-space
[merge]
ff = false
[pager]
# branch = true
status = true
[pull]
ff = only
