[alias]
commitamend = commit --amend
commitamendnow = commit --amend --no-edit
commitempty = commit --allow-empty --allow-empty-message
commitfixup = commit --fixup
commitmessage = commit --edit --message
commitmessagefile = commit --edit --file
commitmessagereuse = commit --edit --reuse-message
commitmessagestdin = commit --edit --file -
commitpatch = commit --patch
commitsquash = commit --squash
