[alias]
diff-algo-minimal = diff --minimal
diff-algo-patience = diff --patience
diff-algo-histogram = diff --histogram
diff-cached = diff --cached
diff-function = diff --function-context
diff-name = diff --name-only
diff-name-status = diff --name-status
diff-previous = diff HEAD^
diff-reverse = diff -R
diff-stat = diff --stat
diff-stat-dir = diff --dirstat
diff-stat-num = diff --numstat
diff-stat-short = diff --shortstat
diff-submodule-short = diff --submodule=short
diff-submodule-diff = diff --submodule=diff
diff-submodule-log = diff --submodule=log
diff-word = diff --word-diff
diff-word-color = diff --color-words
diff-word-porcelain = diff --word-diff=porcelain
