[alias]
branchcreate = branch
branchdelete = branch --delete
branchdeleteforce = branch --delete --force
branchlist = branch --list --verbose --verbose
branchlistall = branch --list --all --verbose --verbose
branchlistremote = branch --list --remotes
branchmoveforce = branch --force
branchrename = branch --move
branchrenameforce = branch --move --force
branchtrack = branch --set-upstream-to
branchuntrack = branch --unset-upstream
