[color]
ui = always
[color "branch"]
current = bold green
local = cyan
remote = magenta
upstream = blue
plain = yellow
# [color "diff"]
# context = 
# meta = 
# frag = 
# func = 
# old = 
# new = 
# commit = 
# whitespace = 
# oldmoved = 
# newmoved = 
# oldMovedDimmed = 
# oldMovedAlternative = 
# oldMovedAlternativeDimmed = 
# newMovedDimmed = 
# newMovedAlternative = 
# newMovedAlternativeDimmed = 
# contextDimmed = 
# oldDimmed = 
# newDimmed = 
# contextBold = 
# oldBold = 
# newBold = 
# [color "decorate"]
# branch = 
# remoteBranch = 
# tag = 
# stash = 
# HEAD = 
# grafted = 
# [color "grep"]
# context = 
# filename = 
# function = 
# lineNumber = 
# column = 
# match = 
# matchContext = 
# matchSelected = 
# selected = 
# separator = 
# [color "interactive"]
# prompt = 
# header = 
# help = 
# error = 
# [color "remote"]
# hint = 
# warning = 
# success = 
# error = 
# [color "transport"]
# header = 
# added = 
# updated = 
# changed = 
# untracked = 
# branch = 
# nobranch = 
# localbranch = 
# remotebranch = 
# unmerged = 
