[alias]
	a = add
	aa = add --update
	ap = add --patch
	b = branch -vv
	bcreate = branch
	bdelete = branch --delete
	bdeleteforce = branch --delete --force
	bmoveforce = branch --force
	brename = branch --move
	back = reset HEAD^
	cb = checkout -b
	cf = checkout HEAD --
	ch = checkout
	cp = cherry-pick
	cl = clean -i
	cln = clean -n
	c = commit --verbose
	ca = commit --verbose --amend
	can = commit --amend --no-edit
	clear = checkout -- .
	cm = commit -m
	d = diff
	dc = diff --cached
	dn = diff --name-only
	dp = diff HEAD^
	ds = diff --stat
	dw = diff --word-diff
	f = fetch --prune
	ff = merge --ff-only
	graph = log --all --branches --decorate --graph --oneline --remotes --tags
	ls = ls-files
	m = merge --no-ff --no-edit
	p = push --set-upstream
	pushforce = push --set-upstream --force
	pul = fetch --prune
	rabort = rebase --abort
	rcontinue = rebase --continue
	redittodo = rebase --edit-todo
	rinteractive = rebase --interactive
	rskip = rebase --skip
	rmcached = rm --cached
	sapply = stash apply
	sdrop = stash drop
	slist = stash list
	spop = stash pop
	ssave = stash save
	sshow = stash show --patch
	s = status
	ss = status --short
[merge]
	ff = false
[pull]
	ff = only
[tig]
	line-graphics = ascii
